.searchBox {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}

.input {
  width: 100%;
  margin-left: 15px;
  border: none;
  outline: none;
}

.iconSearch {
  margin-left: 10px;
  color: grey;
}
